{% extends "base.html" %}

{% block title %}Загрузка файлов - YaCut{% endblock %}

{% block content %}
<section class="container my-5 px-4">
  <h1 class="text-center">Загрузка файлов</h1>
  <p class="text-center my-4">
    Загрузите несколько файлов на Яндекс Диск и получите короткие ссылки
  </p>
  <div class="container">
    <div class="row my-3">
      <div class="col-sm"></div>
      <div class="col-sm">
        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div>
            <div>
              {{ form.files(class="form-control form-control-lg py-2 mb-3", multiple=true) }}
              {% if form.files.errors %}
                <p><span style="color:red">{{ form.files.errors[0] }}</span></p>
              {% endif %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
  {% if results %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <h5 class="text-center mb-3">Загруженные файлы:</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Имя файла</th>
              <th>Короткая ссылка</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
            <tr>
              <td>{{ result.filename }}</td>
              <td><a href="{{ result.short_link }}">{{ result.short_link }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
  {% endif %}
</section>
{% endblock %}
